<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="author" content="Thomas ARNAUD, Bruno BUIRET, Bastien GUYL, Alexis RABILLOUD" />
        <meta name="description" content="Jeu du cadavre exquis" />
        <title>
            {% block _page_title %}{% endblock %}
        </title>
        <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" media="screen" />
        <link rel="stylesheet" type="text/css" href="/css/common.css" media="screen" />
    </head>
    <body>
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Afficher / Cacher la navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="{{ path('home') }}" class="navbar-brand">
                        Cadavre Exquis
                    </a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="{{ path('home') }}">
                                Accueil
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('about') }}">
                                À propos
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container">
            {% if app.session.flashbag.keys|length > 0 %}
                {% for key in app.session.flashbag.keys %}
                    {% for flash in app.session.flashbag.get(key) %}
                        <div class="alert alert-{{ key }} alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            {{ flash }}
                        </div>
                    {% endfor %}
                {% endfor %}
            {% endif %}
            {% block _page_body %}{% endblock %}
        </div>

        <script src="/js/jquery.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
    </body>
</html>