{% extends "layout.html.twig" %}

{% block _page_title %}
    {{ "Exquisite Corpse" }}
{% endblock %}

{% block _page_body %}
    <div class="jumbotron">
        <p>Bonjour, vous pouvez consulter toutes les parties de tous les temps !</p>
        <p> Vous pouvez aussi créer une nouvelle partie en cliquant ici :</p>
        <a href="{{ path("newGame") }}" class='btn btn-primary'>
            Nouvelle Partie
        </a>
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>Titre</th>
                <th>Nombre de likes</th>
                <th>Commencée le</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for game in games %}
            <tr>
                <th scope="row">1</th>
                <td>
                    {{ game.getTitle() }}
                </td>
                <td>
                    {{  game.getLikesNumber() }}
                </td>
                <td>
                    {{ game.getCreatedAt()|date("d/m/Y H:i:s") }}
                </td>
                <td>
                    <a href="{{ path("game", {"id": game.getId()}) }}" class='btn {{ game.isFinished() ? 'btn-info' : 'btn-success'}}'>
                        {{ game.isFinished() ? "Voir" : "Participer"}}
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}