{% extends "layout.html.twig" %}

{% block _page_title %}
    Exquisite Corpse &raquo; Créer une nouvelle partie
{% endblock %}

{% block _page_body %}
    <h1>
        Créer une nouvelle partie
    </h1>
    {{ form_start(form.data, {method: "post", action: form.action, attr: {class : "form-horizontal"}}) }}
        <div class="form-group">
            {{ form_label(form.data.title, "Titre*", {label_attr: {class: "col-sm-1 control-label"}}) }}
            <div class="col-sm-11">
                {{ form_widget(form.data.title, {attr: {class: "form-control"}}) }}
                {{ form_errors(form.data.title, {attr: {class: "help-block"}}) }}
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-11 col-sm-offset-1">
                <button type="submit" class="btn btn-info">Créer</button>
            </div>
        </div>
    {{ form_end(form.data) }}
{% endblock %}